.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 999;
    display: flex;
    padding: 0 19px;
    /* display: none; */
}

/*.modal__opened {
    display: flex;
} */

.modal__container {
    background-color: #fff;
    margin: auto;
    padding: 36px;
    border-radius: 10px;
    position: relative;
}

.modal__close {
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    bottom: calc(100% + 5px); 
    left: calc(100% + 5px);
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../images/close.svg);
}

.modal__form {
    display: flex;
    flex-direction: column;
}

.modal__heading {
    margin: 0 0 20px 0;
    font-weight: bold; 
    font-size: 24px;
    color: #000;
}

.modal__title {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 16.94px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.modal__description {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 16.94px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.modal__button {
    width: 100%;
    padding: 12px;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #000;
    margin-top: 48px;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .modal__container {
        padding: 20px;
    }
    .modal__heading, .modal__title, .modal__description, .modal__button {
        width: 100%;
        font-size: 14px;
        margin: 10px 0; /* Consistent spacing */
    }
}
